<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<p>
			<h4 class= 'center'>Hello <%= @user.username %>! </br></h4>
			You have <%= @user.unredeemed_points %>  Points! <br />
			You've spent <%= @user.points.count - @user.unredeemed_points %> Points on
			some sweet rewards!
		</p>
		<p>
			Your rewards: <br/> <% @user.rewards.each do |reward| %>
			<h5><%= reward.title %> <br /> <div>
				<img src=<%= reward.url %>></h5>
			</div> 
			<% end %>
		</p>
		<p class='center'>
			<%= link_to "Rewards Store", rewards_path %> <br />
			<%= link_to "Dashboard", root_path %>
		</p>
	</body>
</html>