<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h3> HELLO AND WELCOME TO POINT MASTER- WHERE EVERYONE IS A WINNER!! $$$$</h3>
			<p>
				<% if !current_user %>
				<%= link_to "Create New User", new_user_path %> <br />
				<%= link_to "Login", login_path %>
				
				<% elsif current_user.admin %>
				<%= link_to "Create New User", new_user_path %> <br />
				<%= link_to "Logout", logout_path, method: :delete %> <br />
				<%= link_to "View users/Assign a new point", users_path %>
					
				
				<% else %>
				<%= link_to "Logout", logout_path, method: :delete %> <br />
				<span><%= link_to "Your points and Rewards", user_path(@user) %> </span>
				<% end %>
			</p>
	</body>
</html>
